.pulse-bg {
  background-image: url("/images/color pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 100000vh;
  width: 100%;
}

.session-bg {
  background-image: url("/images/color pattern - session.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  left: 0;
  position: absolute;
}

.platform-bg {
  background-image: url("/images/ecllipse.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.platform-bg::before {
  content: "";
  position: absolute;
  top: -250px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/polygon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  height: 1400px !important;
  filter: blur(1.5px);
}

.color-pattern-bg {
  background-image: url("/images/color pattern - small.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
}

.green-polygon-piece {
  background-image: url("/images/green polygon piece.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  width: 120px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 1;
}

.red-polygon-piece {
  background-image: url("/images/red polygon piece.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
  width: 120px; /* Adjust as needed */
  height: 100px; /* Adjust as needed */
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
  z-index: 1;
}

.gradient-border-btn {
  position: relative;
  z-index: 0;
  border-radius: 9999px;
  background: transparent;
  border: 1px solid transparent;
}

.gradient-border-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  padding: 1px; /* border thickness */
  background: linear-gradient(180deg, #00ffe0, #bcefff);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
  pointer-events: none;
}

.green-btn-bg {
  background-image: url("/images/green-btn-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 9999px;
}

.red-btn-bg {
  background-image: url("/images/red-btn-bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 9999px;
}

.custom-cornered-bg {
  border: 2px solid #232323; /* Border color */
  background-color: #181818; /* Background color */
  border-top-right-radius: 24px; /* Only top-right corner rounded */
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  width: 400px; /* Adjust as needed */
  height: 400px; /* Adjust as needed */
}

.main-box {
  background: rgba(255, 255, 255, 0.01) !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(32px) !important;
  border-radius: 20px;
  width: 100%;
  position: relative;
}

.main-small-box {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  width: 100%;
  position: relative;
}

.shineBg_body_top_left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 500px;
  height: 500px;
  z-index: -1;
  background-image: url("/images/red-shine-top-left.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.green-shine-middle-right {
  position: absolute;
  top: 200px;
  right: 0px;
  width: 602px;
  height: 950px;
  z-index: -1;
  background-image: url("/images/red-shine-middle-right.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.green-shine-session-mobile {
  border-radius: 50%;
  opacity: 0.12;
  background: linear-gradient(
    180deg,
    rgba(20, 255, 0, 0.55) 0%,
    rgba(0, 240, 255, 0.62) 100%
  );
  filter: blur(139px);
  position: absolute;
  width: 437px;
  height: 437px;
  left: -187px;
  top: 140px;
}

.red-purple-shine-session {
  border-radius: 50%;
  opacity: 0.3;
  background: linear-gradient(-268deg, #e93249 30.53%, #20f 103.22%);
  filter: blur(139px);
  flex-shrink: 0;
  position: absolute;
}

.green-shine-session {
  border-radius: 60.07vw;
  opacity: 0.12;
  background: linear-gradient(
    180deg,
    rgba(20, 255, 0, 0.55) 0%,
    rgba(0, 240, 255, 0.62) 100%
  );
  filter: blur(139px);
  position: absolute;
  width: 60.07vw;
  height: 60.07vw;
  left: -20.347vw;
  top: 297px;
}
.green-shine-session-small {
  border-radius: 31.458vw;
  opacity: 0.12;
  background: linear-gradient(
    180deg,
    rgba(20, 255, 0, 0.55) 0%,
    rgba(0, 240, 255, 0.62) 100%
  );
  filter: blur(139px);
  top: 0px;
  right: -4.444vw;
  width: 31.458vw;
  height: 31.458vw;
  flex-shrink: 0;
  position: absolute;
}

.green-shine-session-2nd-small {
  border-radius: 41.8vw;
  opacity: 0.12;
  background: linear-gradient(
    180deg,
    rgba(20, 255, 0, 0.55) 0%,
    rgba(0, 240, 255, 0.62) 100%
  );
  filter: blur(139px);
  width: 41.8vw;
  height: 41.8vw;
  flex-shrink: 0;
  position: absolute;
  top: 867px;
  right: -14.72vw;
}

.green-shine-session-3rd-small {
  border-radius: 60.625vw;
  opacity: 0.12;
  background: linear-gradient(
    180deg,
    rgba(20, 255, 0, 0.55) 0%,
    rgba(0, 240, 255, 0.62) 100%
  );
  filter: blur(139px);
  position: absolute;
  width: 60.625vw;
  height: 60.625vw;
  left: -8.264vw;
  bottom: -330px;
}

.green-shine-footer-small {
  border-radius: min(602px, 41.8vw);
  opacity: 0.22;
  background: linear-gradient(
    180deg,
    rgba(0, 144, 255, 0.28) 0%,
    rgba(134, 160, 216, 0.31) 100%
  );
  filter: blur(139px);
  width: min(602px, 41.8vw);
  height: min(602px, 41.8vw);
  flex-shrink: 0;
  position: absolute;
  bottom: 173px;
  left: -16.67vw;
}

.green-shine-footer-2nd-small {
  border-radius: min(602px, 41.8vw);
  opacity: 0.09;
  background: linear-gradient(
    180deg,
    rgba(63, 104, 250, 0.55) 0%,
    rgba(188, 239, 255, 0.62) 100%
  );
  filter: blur(139px);
  width: min(602px, 41.8vw);
  height: min(602px, 41.8vw);
  flex-shrink: 0;
  position: absolute;
  bottom: 111px;
  right: 19.3vw;
}

.green-shine-footer-mobile {
  border-radius: 50%;
  opacity: 0.12;
  background: linear-gradient(
    180deg,
    rgba(0, 144, 255, 0.28) 0%,
    rgba(134, 160, 216, 0.31) 100%
  );
  filter: blur(139px);
  width: 377px;
  height: 377px;
  flex-shrink: 0;
  position: absolute;
  bottom: 410px;
  right: -164px;
}

.main-box {
  background: rgba(255, 255, 255, 0.01) !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(32px) !important;
  border-radius: 20px;
  padding: 1px;
  width: 100%;
  position: relative;
}

.main-small-box {
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  padding: 1px;
  width: 100%;
  position: relative;
}

.color-pattern-bg {
  background-image: url("/images/color pattern - small.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 100vh;
  width: 100%;
  border-radius: 20px;
}

.blue-shine-pulse-overview {
  border-radius: 504px;
  opacity: 0.12;
  background: linear-gradient(
    180deg,
    rgba(63, 104, 250, 0.55) 0%,
    rgba(188, 239, 255, 0.62) 100%
  );
  filter: blur(139px);
  width: 504px;
  min-width: 504px;
  height: 504px;
  min-height: 504px;
  flex-shrink: 0;
  position: absolute;
}

.blue-shine-pulse-overview-mobile {
  border-radius: 50%;
  opacity: 0.12;
  background: linear-gradient(
    180deg,
    rgba(63, 104, 250, 0.55) 0%,
    rgba(188, 239, 255, 0.62) 100%
  );
  filter: blur(139px);
  width: 336.6px;
  min-width: 336.6px;
  height: 336.6px;
  min-height: 336.6px;
  flex-shrink: 0;
  position: absolute;
}

.sub-header-title {
  font-family: Lekton;
  vertical-align: middle;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  background: linear-gradient(
    180deg,
    rgba(0, 255, 224, 0.55) 0%,
    rgba(188, 239, 255, 0.62) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient-border-btn {
  position: relative;
  z-index: 0;
  border-radius: 9999px;
  background: transparent;
  border: 1px solid transparent;
}

.gradient-border-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 9999px;
  padding: 1px; /* border thickness */
  background: linear-gradient(180deg, #00ffe0, #bcefff);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
  pointer-events: none;
}

.green-shine-footer-mobile {
  border-radius: 50%;
  opacity: 0.12;
  background: linear-gradient(
    180deg,
    rgba(0, 144, 255, 0.28) 0%,
    rgba(134, 160, 216, 0.31) 100%
  );
  filter: blur(139px);
  width: 377px;
  height: 377px;
  flex-shrink: 0;
  position: absolute;
  bottom: 410px;
  right: -164px;
}
