.nav-item {
  color: #86878d;
  font-feature-settings: "liga" off, "clig" off;
  font-family: Lekton;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
  text-transform: uppercase;
  margin-left: 50px;
}

.nav-item:first-child {
  margin-left: 0;
}

.nav-item.active {
  font-weight: bold;
  color: white;
}

.nav-item.active img {
  display: inline;
}

.main-menu-box {
  background: rgba(255, 255, 255, 0.02) !important;
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(32px) !important;
  border-radius: 20px;
  position: relative;
}

.start-session-btn-bg {
  background: url("/images/start-session-btn-bg.svg") no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 320px;
  height: 100px;
  color: white;
  position: relative;
  margin-top: 20px;
}
